@tailwind base;

@tailwind components;

@tailwind utilities;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 transition: all 0.3s ease;
 font-family: "Jost", sans-serif;
}

#app {
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

::selection {
 background: #f5f5f5;
 color: #000;
}

#glassmorphismic-card {
 background: rgba(243, 244, 251, 0.8);
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(16px);
 -webkit-backdrop-filter: blur(16px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
}
